body {
  background: -webkit-gradient(linear, right top, left top, from(#6366f1), color-stop(#a855f7), to(#ec4899));
  background: linear-gradient(to left, #6366f1, #a855f7, #ec4899);
}

#particle-container {
  position: absolute;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: -999;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(65vw, 14vh, 84px);
            transform: translate3d(65vw, 14vh, 84px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(65vw, 14vh, 84px);
            transform: translate3d(65vw, 14vh, 84px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.37;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(56vw, 73vh, 56px);
          transform: translate3d(56vw, 73vh, 56px);
  background: #d92665;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(20vw, 53vh, 42px);
            transform: translate3d(20vw, 53vh, 42px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(20vw, 53vh, 42px);
            transform: translate3d(20vw, 53vh, 42px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.17;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(33vw, 89vh, 20px);
          transform: translate3d(33vw, 89vh, 20px);
  background: #26d941;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(90vw, 20vh, 91px);
            transform: translate3d(90vw, 20vh, 91px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(90vw, 20vh, 91px);
            transform: translate3d(90vw, 20vh, 91px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.06;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(33vw, 2vh, 83px);
          transform: translate3d(33vw, 2vh, 83px);
  background: #b826d9;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(55vw, 20vh, 62px);
            transform: translate3d(55vw, 20vh, 62px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(55vw, 20vh, 62px);
            transform: translate3d(55vw, 20vh, 62px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.77;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(65vw, 8vh, 16px);
          transform: translate3d(65vw, 8vh, 16px);
  background: #26d950;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(76vw, 51vh, 50px);
            transform: translate3d(76vw, 51vh, 50px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(76vw, 51vh, 50px);
            transform: translate3d(76vw, 51vh, 50px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.77;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(81vw, 43vh, 94px);
          transform: translate3d(81vw, 43vh, 94px);
  background: #26d956;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(83vw, 20vh, 51px);
            transform: translate3d(83vw, 20vh, 51px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(83vw, 20vh, 51px);
            transform: translate3d(83vw, 20vh, 51px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.89;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(13vw, 23vh, 3px);
          transform: translate3d(13vw, 23vh, 3px);
  background: #26d977;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(27vw, 85vh, 73px);
            transform: translate3d(27vw, 85vh, 73px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(27vw, 85vh, 73px);
            transform: translate3d(27vw, 85vh, 73px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.52;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(21vw, 15vh, 9px);
          transform: translate3d(21vw, 15vh, 9px);
  background: #97d926;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(75vw, 59vh, 31px);
            transform: translate3d(75vw, 59vh, 31px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(75vw, 59vh, 31px);
            transform: translate3d(75vw, 59vh, 31px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.32;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(44vw, 68vh, 71px);
          transform: translate3d(44vw, 68vh, 71px);
  background: #d94d26;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(77vw, 21vh, 36px);
            transform: translate3d(77vw, 21vh, 36px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(77vw, 21vh, 36px);
            transform: translate3d(77vw, 21vh, 36px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.45;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(15vw, 22vh, 86px);
          transform: translate3d(15vw, 22vh, 86px);
  background: #26d944;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(68vw, 25vh, 70px);
            transform: translate3d(68vw, 25vh, 70px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(68vw, 25vh, 70px);
            transform: translate3d(68vw, 25vh, 70px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.78;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(77vw, 28vh, 4px);
          transform: translate3d(77vw, 28vh, 4px);
  background: #a6d926;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(76vw, 19vh, 46px);
            transform: translate3d(76vw, 19vh, 46px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(76vw, 19vh, 46px);
            transform: translate3d(76vw, 19vh, 46px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.45;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(63vw, 9vh, 23px);
          transform: translate3d(63vw, 9vh, 23px);
  background: #26d988;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(35vw, 70vh, 17px);
            transform: translate3d(35vw, 70vh, 17px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(35vw, 70vh, 17px);
            transform: translate3d(35vw, 70vh, 17px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.59;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(71vw, 70vh, 93px);
          transform: translate3d(71vw, 70vh, 93px);
  background: #26c4d9;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(82vw, 45vh, 37px);
            transform: translate3d(82vw, 45vh, 37px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(82vw, 45vh, 37px);
            transform: translate3d(82vw, 45vh, 37px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.5;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(29vw, 39vh, 27px);
          transform: translate3d(29vw, 39vh, 27px);
  background: #265fd9;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(83vw, 25vh, 72px);
            transform: translate3d(83vw, 25vh, 72px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(83vw, 25vh, 72px);
            transform: translate3d(83vw, 25vh, 72px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.54;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(84vw, 8vh, 20px);
          transform: translate3d(84vw, 8vh, 20px);
  background: #2688d9;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(77vw, 16vh, 37px);
            transform: translate3d(77vw, 16vh, 37px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(77vw, 16vh, 37px);
            transform: translate3d(77vw, 16vh, 37px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.75;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(78vw, 21vh, 60px);
          transform: translate3d(78vw, 21vh, 60px);
  background: #26d965;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(21vw, 80vh, 91px);
            transform: translate3d(21vw, 80vh, 91px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(21vw, 80vh, 91px);
            transform: translate3d(21vw, 80vh, 91px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.5;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(50vw, 12vh, 86px);
          transform: translate3d(50vw, 12vh, 86px);
  background: #d926a9;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(86vw, 37vh, 42px);
            transform: translate3d(86vw, 37vh, 42px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(86vw, 37vh, 42px);
            transform: translate3d(86vw, 37vh, 42px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.32;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(18vw, 90vh, 48px);
          transform: translate3d(18vw, 90vh, 48px);
  background: #d926ac;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(64vw, 9vh, 75px);
            transform: translate3d(64vw, 9vh, 75px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(64vw, 9vh, 75px);
            transform: translate3d(64vw, 9vh, 75px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.63;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(11vw, 46vh, 59px);
          transform: translate3d(11vw, 46vh, 59px);
  background: #d926ca;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(74vw, 17vh, 46px);
            transform: translate3d(74vw, 17vh, 46px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(74vw, 17vh, 46px);
            transform: translate3d(74vw, 17vh, 46px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.87;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(26vw, 74vh, 93px);
          transform: translate3d(26vw, 74vh, 93px);
  background: #26d95f;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(13vw, 83vh, 56px);
            transform: translate3d(13vw, 83vh, 56px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(13vw, 83vh, 56px);
            transform: translate3d(13vw, 83vh, 56px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.99;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(90vw, 55vh, 16px);
          transform: translate3d(90vw, 55vh, 16px);
  background: #82d926;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(66vw, 63vh, 41px);
            transform: translate3d(66vw, 63vh, 41px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(66vw, 63vh, 41px);
            transform: translate3d(66vw, 63vh, 41px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.39;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(75vw, 7vh, 28px);
          transform: translate3d(75vw, 7vh, 28px);
  background: #d926be;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(4vw, 35vh, 75px);
            transform: translate3d(4vw, 35vh, 75px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(4vw, 35vh, 75px);
            transform: translate3d(4vw, 35vh, 75px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.05;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(25vw, 38vh, 12px);
          transform: translate3d(25vw, 38vh, 12px);
  background: #26d953;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(26vw, 51vh, 21px);
            transform: translate3d(26vw, 51vh, 21px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(26vw, 51vh, 21px);
            transform: translate3d(26vw, 51vh, 21px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.34;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(35vw, 19vh, 88px);
          transform: translate3d(35vw, 19vh, 88px);
  background: #3826d9;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(10vw, 22vh, 13px);
            transform: translate3d(10vw, 22vh, 13px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(10vw, 22vh, 13px);
            transform: translate3d(10vw, 22vh, 13px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.74;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(31vw, 7vh, 74px);
          transform: translate3d(31vw, 7vh, 74px);
  background: #d926b2;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(60vw, 81vh, 10px);
            transform: translate3d(60vw, 81vh, 10px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(60vw, 81vh, 10px);
            transform: translate3d(60vw, 81vh, 10px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.88;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(31vw, 85vh, 11px);
          transform: translate3d(31vw, 85vh, 11px);
  background: #d9a026;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(74vw, 8vh, 81px);
            transform: translate3d(74vw, 8vh, 81px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(74vw, 8vh, 81px);
            transform: translate3d(74vw, 8vh, 81px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.87;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(27vw, 49vh, 30px);
          transform: translate3d(27vw, 49vh, 30px);
  background: #d96826;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(22vw, 49vh, 91px);
            transform: translate3d(22vw, 49vh, 91px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(22vw, 49vh, 91px);
            transform: translate3d(22vw, 49vh, 91px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.56;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(26vw, 29vh, 66px);
          transform: translate3d(26vw, 29vh, 66px);
  background: #5cd926;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(9vw, 13vh, 4px);
            transform: translate3d(9vw, 13vh, 4px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(9vw, 13vh, 4px);
            transform: translate3d(9vw, 13vh, 4px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 1;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(55vw, 74vh, 82px);
          transform: translate3d(55vw, 74vh, 82px);
  background: #2cd926;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(51vw, 29vh, 81px);
            transform: translate3d(51vw, 29vh, 81px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(51vw, 29vh, 81px);
            transform: translate3d(51vw, 29vh, 81px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.04;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(27vw, 37vh, 100px);
          transform: translate3d(27vw, 37vh, 100px);
  background: #d92685;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(89vw, 80vh, 31px);
            transform: translate3d(89vw, 80vh, 31px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(89vw, 80vh, 31px);
            transform: translate3d(89vw, 80vh, 31px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.69;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(70vw, 26vh, 33px);
          transform: translate3d(70vw, 26vh, 33px);
  background: #26d9d0;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

#activity {
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 999;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  color: #fff;
  font-family: 'Roboto';
}

#activity .active {
  background-color: lightgreen;
}

#activity button {
  padding: 0.75rem;
  border-radius: 16px;
  border: 1px solid #fff;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

#activity button:hover {
  background-color: #f781bc;
  color: #fff;
}
/*# sourceMappingURL=App.css.map */